<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="side">
    <!--打赏请扫码-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">-->
        <!--<h4>打赏请扫码</h4>-->
        <!--<img class="img-thumbnail question-wechat" src="/images/WeChat.png">-->
    <!--</div>-->
    <!--极客时间-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <a href="http://gk.link/a/103Vl" target="_blank"
           onclick="gtag('event', 'click', {'event_category': 'LINK','event_label': 'GEEKTIME','transport_type': 'SIDE'})">
            <img class="img-thumbnail question-wechat" src="/images/geektime.png">
        </a>
    </div>
</div>
</body>
</html>
